{{>header}}

<section id="center">
 <div class="center_m clearfix">
  <div class="container">
  <div class="row">
   <div class="col-sm-12 center">
	<div class="col-sm-6 center_right">
	<h2>Food & U<span class="animal_1">Meals for U</span></h2>
	 <ul>
	  <li><a href="/AboutUs">About Us</a></li>
	 </ul>
	</div>
	<div class="col-sm-6"></div>
   </div>
  </div>
 </div>
 </div>
</section>
<section id="middle">
 <div class="container">
  <div class="row">
   <div class="col-sm-12 middle">
	<h2>Outstanding Recipes</h2>
	<hr class="hr_1">
   </div>
   <div class="col-sm-12 middle_1">
    <div class="col-sm-1"></div>
	<div class="col-sm-6 middle_1_left">
				<div class="[ info-card ]">
					<img style="width: 100%" src="img/22.jpg">
					<div class="[ info-card-details ] animate">
						<div class="[ info-card-header ]">
							<h4> Nombre Receta</h4>
						</div>
						<div class="[ info-card-detail ]">
							<!-- Description -->
							<h5>Descripcion</h5>
							<p><a href="/Recipe">Learn More</a></p>
						</div>
					</div>
				</div>
	</div>
	<div class="col-sm-4 middle_1_left">
	 <div class="[ info-card ]">
					<img style="width: 100%" src="img/23.jpg">
					<div class="[ info-card-details ] animate">
						<div class="[ info-card-header ]">
							<h4>Nombre Receta</h4>
						</div>
						<div class="[ info-card-detail ]">
							<!-- Description -->
							<h5>Descripcion</h5>
							<p><a href="/Recipe">Learn More</a></p>
						</div>
					</div>
				</div>
	</div>
	<div class="col-sm-1"></div>
   </div>
   <div class="col-sm-12 middle">
	<h2>Weekly Suggestion</h2>
	<hr class="hr_1">
   </div>
   <div class="col-sm-12 middle_1">
    <div class="col-sm-1"></div>
	<div class="col-sm-10 middle_1_left">
				<div class="[ info-card ]">
					<img style="width: 100%" src="img/24.jpg">
					<div class="[ info-card-details ] animate">
						<div class="[ info-card-header ]">
							<h4> Nombre Receta </h4>
						</div>
						<div class="[ info-card-detail ]">
							<!-- Description -->
							<h5> Descripcion</h5>
							<p><a href="/Recipe">Learn More</a></p>
						</div>
					</div>
				</div>
	</div>
	<div class="col-sm-1"></div>
   </div>
  </div>
 </div>
</section>
<section id="dish">
 <div class="container">
  <div class="row">
   <div class="col-sm-12 dish">
	<h4>Are you looking for healthy meals?</h4>
	<div class="row">
        <div class="row">
            <div class="col-sm-12 dish_1">
                <!-- Controls -->
                <div class="controls pull-right">
                    <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
                </div>
            </div>
        </div>
        <div id="carousel-example" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="col-item">
								<div class="cuadro_intro_hover " style="background-color:#cccccc;">
										<p style="text-align:center;">
												<img src="img/25.jpg" class="img-responsive" alt="a">
										</p>
										<div class="caption">
											<div class="blur"></div>
											<div class="caption-text" style="margin-top:90px;">
												<p><a href="/Recipe">Show Recipe</a></p>
											</div>
										</div>
								</div>
                                <div class="info">
                                    <div class="row">
										<div class="price_1 col-sm-12">
                                            <h4><a href="/Recipe">Nombre Receta</a></h4>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-item">
								<div class="cuadro_intro_hover " style="background-color:#cccccc;">
										<p style="text-align:center;">
												<img src="img/26.jpg" class="img-responsive" alt="a">
										</p>
										<div class="caption">
											<div class="blur"></div>
											<div class="caption-text" style="margin-top:90px;">
												<p><a href="/Recipe">Show Recipe</a></p>
											</div>
										</div>
								</div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price_1 col-sm-12">
                                            <h4><a href="/Recipe">Nombre Receta</a></h4>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-item">
								<div class="cuadro_intro_hover " style="background-color:#cccccc;">
										<p style="text-align:center;">
												<img src="img/27.jpg" class="img-responsive" alt="a">
										</p>
										<div class="caption">
											<div class="blur"></div>
											<div class="caption-text" style="margin-top:90px;">
												<p><a href="/Recipe">Show Recipe</a></p>
											</div>
										</div>
								</div>	
                                <div class="info">
                                    <div class="row">
                                        <div class="price_1 col-sm-12">
                                            <h4><a href="/Recipe">Nombre Receta</a></h4>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item active">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="col-item">
								<div class="cuadro_intro_hover " style="background-color:#cccccc;">
										<p style="text-align:center;">
												<img src="img/28.jpg" class="img-responsive" alt="a">
										</p>
										<div class="caption">
											<div class="blur"></div>
											<div class="caption-text" style="margin-top:90px;">
												<p><a href="/Recipe">Show Recipe</a></p>
											</div>
										</div>
								</div>	
                                <div class="info">
                                    <div class="row">
                                        <div class="price_1 col-sm-12">
                                            <h4><a href="/Recipe">Nombre Receta</a></h4>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-item">
								<div class="cuadro_intro_hover " style="background-color:#cccccc;">
										<p style="text-align:center;">
												<img src="img/29.jpg" class="img-responsive" alt="a">
										</p>
										<div class="caption">
											<div class="blur"></div>
											<div class="caption-text" style="margin-top:90px;">
												<p><a href="/Recipe">Show Recipe</a></p>
											</div>
										</div>
								</div>	
                                <div class="info">
                                    <div class="row">
                                        <div class="price_1 col-sm-12">
                                            <h4><a href="#">Nombre Receta</a></h4>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-item">
								<div class="cuadro_intro_hover " style="background-color:#cccccc;">
										<p style="text-align:center;">
												<img src="img/30.jpg" class="img-responsive" alt="a">
										</p>
										<div class="caption">
											<div class="blur"></div>
											<div class="caption-text" style="margin-top:90px;">
												<p><a href="/Recipe">Show Recipe</a></p>
											</div>
										</div>
								</div>	
                                <div class="info">
                                    <div class="row">
                                        <div class="price_1 col-sm-12">
                                            <h4><a href="#">Nombre Receta </a></h4>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
  </div>
 </div>
</section>
<section id="delicious">
 <div class="container">
  <div class="row">
   <div class="col-sm-12 delicious">
	<h2>Did not find anything interesting? Try something different!</h2>
	<div class="col-sm-1"></div>
	<div class="col-sm-5 delicious_left">
	 <div class="cuadro_intro_hover " style="background-color:#cccccc;">
						<p style="text-align:center;">
							<img src="img/31.jpg" width="100%" class="img-responsive" alt="">
						</p>
						<div class="caption">
							<div class="blur"></div>
							<div class="caption-text">
								<h3 style="border-top:2px solid white; padding-top:20px;"><a href="#">Nombre Receta</a></h3>
								<p><a href="/Recipe">Show Recipe</a></p>
							</div>
						</div>
					</div>
	</div>
	<div class="col-sm-5 delicious_left">
	 <div class="cuadro_intro_hover " style="background-color:#cccccc;">
						<p style="text-align:center;">
							<img src="img/32.jpg" width="100%" class="img-responsive" alt="">
						</p>
						<div class="caption">
							<div class="blur"></div>
							<div class="caption-text">
								<h3 style="border-top:2px solid white; padding-top:20px;"><a href="#">Nombre Receta</a></h3>
								<p><a href="/Recipe">Show Recipe</a></p>
							</div>
						</div>
					</div>
	</div>
	<div class="col-sm-1"></div>
   </div>
   <div class="col-sm-12 dalicious_2">
    <p>You could find more info in the header of the page</p>
   </div>
  </div>
 </div>
</section>

{{>footer}}
